// about

.about__title {
  min-width: 150px;
}

.about__container {
  width: 100%;
  margin: 0 auto;
  img {
    min-width: 30%;
    border-radius: 20px;
  }
}

.about__context {
  text-indent: 10px;
}

@media screen and (max-width: 768px) {
  .about__container {
    img {
      width: 80%;
    }
  }
}
