// about

.about__title {
  min-width: 150px;
}

.about__container {
  margin: 0 auto;
  display: flex;
  img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 40px;
  }
  p {
    font-size: $font-small;
    text-align: left;
    text-indent: 0px;
  }
  .about__context {
    font-size: $font-medium;
    text-indent: unset;
  }
}

.about__profile {
  width: 40%;
}

.about__contextTitle {
  width: 100%;
  .first {
    font-size: $font-medium;
    display: block;
    margin-bottom: -15px;
    text-align: left;
  }

  .second {
    font-size: $font-large;
    color: $color-light-purple;
    font-weight: $weight-semi-bold;
    display: block;
    margin-bottom: -13px;
  }

  .third {
    font-size: $font-medium;
    display: block;
    text-align: right;
  }
}

.about__description {
  width: 60%;
  text-align: left;
  padding: 0 25px;
  .about__personalInfo {
    font-size: $font-regular;
  }
}

.about__description__container {
  width: 70%;
  margin: 0 auto;

  p {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .about__profile {
    img {
      margin-bottom: 10px;
    }
  }
  .about__contextTitle {
    width: 100%;
    .first {
      font-size: $font-regular;
      display: block;
      margin-bottom: -10px;
      text-align: left;
    }

    .second {
      font-size: $font-medium;
      color: $color-light-purple;
      font-weight: $weight-semi-bold;
      display: block;
      margin-bottom: -10px;
    }

    .third {
      font-size: $font-small;
      display: block;
      text-align: right;
    }
  }

  .about__description {
    padding: 0 10px;
    font-size: $font-micro;
  }

  .about__description__container {
    width: 100%;
    h2 {
      font-size: $font-regular;
    }
    .about__personalInfo {
      font-size: $font-small;
    }
    p {
      margin-top: 10px;
    }
    .about__context {
      font-size: $font-small;
    }
  }
}
