#contact {
  background-color: $color-light-purple;
}

.contact__title,
.contact__email,
.contact__container {
  color: $color-white;
}

.contact__title {
  margin: 32px 0;
}

.contact__container {
  display: flex;
  justify-content: center;
  font-size: $font-large;
  margin: 24px 0;
}

.contact__gmail,
.contact__github {
  margin: 0 30px;
}

.contact__container i {
  transition: all $animation-duration ease;
}

.contact__container i:hover {
  transform: scale(1.1);
}
