#project .section__container {
  position: relative;
}

.arrowLeft {
  position: absolute;
  top: 59%;
  left: 3%;
  cursor: pointer;
}

.arrowRight {
  position: absolute;
  top: 59%;
  right: 3%;
  cursor: pointer;
}

.project__container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 4px 5px 7px 0px rgba(196, 196, 196, 0.91);
}

.project__lists {
  width: 400%;
  display: flex;
  transition: all $animation-duration ease;
}

.project__item {
  width: 50%;
  display: flex;
  img {
    width: 70%;
  }
  .project__description {
    width: 30%;
  }
}

.carousel__btn__container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.carousel__btn {
  margin: 0 10px;
  width: 50px;
  height: 5px;
  background-color: $color-light-grey;
  border-radius: 4px;
  cursor: pointer;
}

.carousel__active {
  background-color: $color-dark-grey;
}

.project__item {
  position: relative;
  i {
    font-size: $font-medium;
  }

  .project__item__title {
    font-size: $font-regular;
  }

  .project__item__icon {
    margin: 15px 0;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
  }

  .project__item__description {
    text-align: left;
    padding: 0 10px;
  }

  .mongoDB {
    width: 30px;
  }

  .fa-github {
    position: absolute;
    right: 2%;
    bottom: 5%;
  }

  .fa-bootstrap {
    color: $color-purple;
  }

  .fa-node-js {
    color: $color-green;
  }

  .fa-sass {
    color: $color-light-purple;
  }

  .fa-react {
    color: $color-blue;
  }

  .firebase {
    width: 28px;
  }
}

@media screen and (max-width: 768px) {
  .project__item {
    flex-direction: column;

    img {
      width: 100%;
    }
    .project__description {
      width: 100%;
    }

    .project__item__description {
      text-align: left;
      padding-bottom: 40px;
    }
  }
}
