#project .section__container {
  position: relative;
}

.arrowLeft {
  position: absolute;
  top: 59%;
  left: 3%;
  cursor: pointer;
}

.arrowRight {
  position: absolute;
  top: 59%;
  right: 3%;
  cursor: pointer;
}

.project__container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 4px 5px 7px 0px rgba(196, 196, 196, 0.91);
}

.project__lists {
  width: 400%;
  display: flex;
  transition: all $animation-duration ease;
}

.project__item {
  width: 50%;
  display: flex;
  img {
    width: 70%;
  }
  .project__description {
    width: 30%;
  }
}

.carousel__btn__container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.carousel__btn {
  margin: 0 10px;
  width: 50px;
  height: 5px;
  background-color: $color-light-grey;
  border-radius: 4px;
  cursor: pointer;
}

.carousel__active {
  background-color: $color-dark-grey;
}
