/* Color */
$color-white: #ffffff;
$color-black: #000000;
$color-red: #e74c3c;
$color-blue: #2980b9;
$color-yellow: #f1c40f;
$color-green: #27ae60;
$color-light-purple: #b181a8;
$color-grey-blue: #e4dee7;
$color-dark-grey: #7f8c8d;
$color-light-white: #dfe6e9;
$color-light-grey: #bdc3c7;

/* Font size */
$font-large: 48px;
$font-medium: 28px;
$font-regular: 18px;
$font-small: 16px;
$font-micro: 14px;

/* Font weight */
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-regular: 400;

/* Size */

$size-border-radius: 4px;
$skill-icon-size: 100px;
$carousel-width: 600px;
$carousel-height: 450px;
$carousel-image-height: 450px;
$carousel-item-count: 5;
$moniter-container-width: 1200px;

/* Annimation */
$animation-duration: 300ms;
