#skills {
  background-color: $color-grey-blue;
}

.skills__frontend,
.skills__backend,
.skills__etc {
  margin-bottom: 20px;
}

.skills__name,
.skills__range-persentage {
  color: $color-dark-grey;
}

.skill__card {
  display: inline-block;
  margin: 5px;
}

.skill__card:hover .skill__icon {
  transform: scale(1.2);
}

.skill__card:hover .skills__name {
  opacity: 1;
  top: 0;
}

.skills__name {
  position: relative;
  top: -30px;
  opacity: 0;
  transition: all $animation-duration ease;
}

.skill__icon {
  width: $skill-icon-size;
  height: $skill-icon-size;
  line-height: $skill-icon-size;
  font-size: 80px;
  transition: all $animation-duration ease;
}

.skills__html .skill__icon {
  color: $color-red;
}

.skills__css .skill__icon {
  color: $color-blue;
}

.skills__js .skill__icon {
  color: $color-yellow;
}

.skills__react .skill__icon {
  color: $color-blue;
}

.skills__nodejs .skill__icon {
  color: $color-green;
}

.skills__git .skill__icon {
  color: $color-red;
}

.skill__range {
  display: none;
}

.skills__range-display {
  opacity: 1;
  max-width: 1000px;
  margin: auto;
  transition: all $animation-duration linear;
  overflow: hidden;
}

.skills__range-description {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 10px 10px;
}

.skills__range-container {
  width: 100%;
  height: 7px;
  overflow: hidden;
  background-color: $color-light-grey;
}

.skills__range-value {
  background-color: $color-red;
  height: 8px;
  transition: all $animation-duration ease-out;
}
