/* Color */
/* Font size */
/* Font weight */
/* Size */
/* Annimation */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: 48px;
  font-weight: 700;
  color: #000000;
  margin: 16px 0;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  color: #000000;
  margin: 8px 0;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin: 8px 0;
}

p {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin: 4px 0;
}

#navbar {
  background-color: transparent;
  color: #dfe6e9;
  width: 100%;
  padding: 0 16px;
  z-index: 5;
  position: fixed;
  top: 0;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
}

#navbar.navbar__sticky {
  background-color: #b181a8;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.navbar__container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo a {
  color: #dfe6e9;
  font-size: 18px;
  font-weight: 600;
}

.navbar__icon {
  position: relative;
  margin-right: 5px;
}

.navbar__icon img {
  margin-top: 5px;
  width: 45px;
  height: 45px;
}

.navbar__toggle-btn {
  color: #dfe6e9;
  font-size: 28px;
  display: none;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__menu__item {
  padding: 4px 12px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar__menu__item:hover {
  color: #000000;
  background-color: #bdc3c7;
  border-radius: 4px;
  border-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    color: #dfe6e9;
    font-size: 28px;
    display: block;
  }
  #navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #b181a8;
  }
  .navbar__menu {
    top: 56px;
    left: -20px;
    background-color: #b181a8;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 110%;
    display: none;
  }
  .navbar__menu.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#home {
  background: center url("../img/home_background.png");
}

.home__container {
  padding: 80px 0 40px 0;
  margin: 0 auto;
  max-width: 1200px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.home__title {
  color: #ffffff;
  text-align: center;
}

.home__contactBtn {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid #ffffff;
  border-radius: 4px;
}

.home__contactBtn:hover {
  color: #f1c40f;
  border-color: #f1c40f;
}

.about__title {
  min-width: 150px;
}

.about__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__container img {
  width: 100%;
  border-radius: 20px;
}

.about__container p {
  font-size: 16px;
  text-align: left;
  text-indent: 0px;
}

.about__profile {
  width: 40%;
}

.about__contextTitle {
  width: 100%;
}

.about__contextTitle .first {
  font-size: 28px;
  display: block;
  margin-bottom: -15px;
  text-align: left;
}

.about__contextTitle .second {
  font-size: 48px;
  color: #b181a8;
  font-weight: 600;
  display: block;
  margin-bottom: -13px;
}

.about__contextTitle .third {
  font-size: 18px;
  display: block;
  text-align: right;
}

.about__description {
  width: 60%;
  text-align: left;
  padding: 0 25px;
}

.about__description .about__personalInfo {
  font-size: 18px;
}

.about__context {
  text-indent: 10px;
}

@media screen and (max-width: 768px) {
  .about__contextTitle {
    width: 100%;
  }
  .about__contextTitle .first {
    font-size: 18px;
    display: block;
    margin-bottom: -10px;
    text-align: left;
  }
  .about__contextTitle .second {
    font-size: 28px;
    color: #b181a8;
    font-weight: 600;
    display: block;
    margin-bottom: -10px;
  }
  .about__contextTitle .third {
    font-size: 16px;
    display: block;
    text-align: right;
  }
  .about__description {
    padding: 0 10px;
    font-size: 14px;
  }
  .about__description h2 {
    font-size: 18px;
  }
}

#skills {
  background-color: #e4dee7;
}

.skills__frontend,
.skills__backend,
.skills__etc {
  margin-bottom: 20px;
}

.skills__name,
.skills__range-persentage {
  color: #7f8c8d;
}

.skill__card {
  display: inline-block;
  margin: 5px;
}

.skill__card:hover .skill__icon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.skill__card:hover .skills__name {
  opacity: 1;
  top: 0;
}

.skills__name {
  position: relative;
  top: -30px;
  opacity: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.skill__icon {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 80px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.skills__html .skill__icon {
  color: #e74c3c;
}

.skills__css .skill__icon {
  color: #2980b9;
}

.skills__js .skill__icon {
  color: #f1c40f;
}

.skills__react .skill__icon {
  color: #2980b9;
}

.skills__nodejs .skill__icon {
  color: #27ae60;
}

.skills__git .skill__icon {
  color: #e74c3c;
}

.skill__range {
  display: none;
}

.skills__range-display {
  opacity: 1;
  max-width: 1000px;
  margin: auto;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  overflow: hidden;
}

.skills__range-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10px 10px 10px;
}

.skills__range-container {
  width: 100%;
  height: 7px;
  overflow: hidden;
  background-color: #bdc3c7;
}

.skills__range-value {
  background-color: #e74c3c;
  height: 8px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

#project .section__container {
  position: relative;
}

.arrowLeft {
  position: absolute;
  top: 59%;
  left: 3%;
  cursor: pointer;
}

.arrowRight {
  position: absolute;
  top: 59%;
  right: 3%;
  cursor: pointer;
}

.project__container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  -webkit-box-shadow: 4px 5px 7px 0px rgba(196, 196, 196, 0.91);
          box-shadow: 4px 5px 7px 0px rgba(196, 196, 196, 0.91);
}

.project__lists {
  width: 400%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.project__item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project__item img {
  width: 70%;
}

.project__item .project__description {
  width: 30%;
}

.carousel__btn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.carousel__btn {
  margin: 0 10px;
  width: 50px;
  height: 5px;
  background-color: #bdc3c7;
  border-radius: 4px;
  cursor: pointer;
}

.carousel__active {
  background-color: #7f8c8d;
}

.project__item {
  position: relative;
}

.project__item i {
  font-size: 28px;
}

.project__item .project__item__title {
  font-size: 18px;
}

.project__item .project__item__icon {
  margin: 15px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
}

.project__item .project__item__description {
  text-align: left;
  padding: 0 10px;
}

.project__item .mongoDB {
  width: 30px;
}

.project__item .fa-github {
  position: absolute;
  right: 2%;
  bottom: 5%;
}

.project__item .fa-bootstrap {
  color: #7111f5;
}

.project__item .fa-node-js {
  color: #27ae60;
}

.project__item .fa-sass {
  color: #b181a8;
}

.project__item .fa-react {
  color: #2980b9;
}

.project__item .firebase {
  width: 28px;
}

@media screen and (max-width: 768px) {
  .project__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project__item img {
    width: 100%;
  }
  .project__item .project__description {
    width: 100%;
  }
  .project__item .project__item__description {
    text-align: left;
    padding-bottom: 40px;
  }
}

#contact {
  background-color: #b181a8;
}

.contact__title,
.contact__email,
.contact__container {
  color: #ffffff;
}

.contact__title {
  margin: 32px 0;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 48px;
  margin: 24px 0 0 0;
}

.contact__container a {
  color: #ffffff;
}

.contact__gmail,
.contact__github {
  margin: 0 30px;
}

.contact__container i {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: pointer;
}

.contact__container i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */
.title:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 5px 0;
  width: 50px;
  height: 2px;
  background-color: #2980b9;
}

/* Section common */
.section {
  margin: 0px auto;
  padding: 50px 20px;
  text-align: center;
}

.section__container {
  margin: auto;
  max-width: 1200px;
  padding: 20px 0 50px 0;
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.container {
  padding: 20px 0 50px 0;
}

.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* arrow up Btn
 */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #b181a8;
  font-size: 28px;
  color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
  .arrow-up {
    bottom: 20px;
    right: 10px;
    font-size: 18px;
    width: 30px;
    height: 30px;
  }
  .section__container {
    padding: 20px 30px 50px 30px;
  }
}
/*# sourceMappingURL=style.css.map */