/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Size */
}

/* Universal tags */

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.caruosel {
  display: inline-block;
  width: 500px;
  height: 320px;
  overflow: scroll;
}

.carousel__items {
  display: flex;
}
