/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #e74c3c;
  --color-blue: #2980b9;
  --color-yellow: #f1c40f;
  --color-green: #27ae60;
  --color-light-purple: #b181a8;
  --color-grey-blue: #e4dee7;
  --color-dark-grey: #7f8c8d;
  --color-light-white: #dfe6e9;
  --color-light-grey: #bdc3c7;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */

  --size-border-radius: 4px;
  --skill-icon-size: 100px;
  --carousel-width: 600px;
  --carousel-height: 450px;
  --carousel-image-height: 450px;
  --carousel-item-count: 5;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.title:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  margin: 5px 0;

  width: 50px;
  height: 2px;

  background-color: var(--color-blue);
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */

#navbar {
  background-color: transparent;
  color: var(--color-light-white);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  z-index: 5;
  position: fixed;
  top: 0;
  transition: all 100ms linear;
}

#navbar.navbar__sticky {
  background-color: var(--color-light-purple);
  transform: scale(1.01);
}

.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__logo a {
  color: var(--color-light-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
}

.navbar__icon {
  position: relative;
  top: 5px;
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin-right: 5px;
}

.navbar__toggle-btn {
  position: absolute;
  top: 19px;
  right: 32px;
  color: var(--color-light-white);
  font-size: var(--font-medium);
  display: none;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 4px 12px;
  margin: 0 4px;
  cursor: pointer;
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  color: var(--color-black);
  background-color: var(--color-grey-blue);
  border-radius: var(--size-border-radius);
}

/* Home */

#home {
  background: center url("img/home_background.png");
}
.home__container {
  padding: 80px 40px 40px 40px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home__title {
  color: var(--color-white);
  text-align: center;
}

.home__contactBtn {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* Section common */

.section {
  margin: auto;
  padding: 50px;
  text-align: center;
}

.section__container {
  margin: auto;
  max-width: 1200px;
}

/* About */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__title {
  max-width: 150px;
}

.about__container {
  margin-left: 50px;
  text-align: left;
  max-width: 800px;
}

.about__context {
  text-indent: 10px;
}

/* Skills */

#skills {
  background-color: var(--color-grey-blue);
}

.skills__frontend,
.skills__backend,
.skills__etc {
  margin-bottom: 20px;
}

.skills__name,
.skills__range-persentage {
  color: var(--color-dark-grey);
}

.skill__card {
  display: inline-block;
  margin: 5px;
}

.skill__card:hover .skill__icon {
  transform: scale(1.2);
}

.skill__card:hover .skills__name {
  opacity: 1;
  top: 0;
}

.skills__name {
  position: relative;
  top: -30px;
  opacity: 0;
  transition: all var(--animation-duration) ease;
}

.skill__icon {
  width: var(--skill-icon-size);
  height: var(--skill-icon-size);
  line-height: var(--skill-icon-size);
  font-size: 80px;
  transition: all var(--animation-duration) ease;
}

.skills__html .skill__icon {
  color: var(--color-red);
}

.skills__css .skill__icon {
  color: var(--color-blue);
}

.skills__js .skill__icon {
  color: var(--color-yellow);
}

.skills__nodejs .skill__icon {
  color: var(--color-green);
}

.skills__git .skill__icon {
  color: var(--color-red);
}

.skill__range {
  display: none;
}

.skills__range-display {
  opacity: 1;
  max-width: 1000px;
  margin: auto;
  transition: all var(--animation-duration) linear;
  overflow: hidden;
}

.skills__range-description {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 10px 10px;
}

.skills__range-container {
  width: 100%;
  height: 7px;
  overflow: hidden;
  background-color: var(--color-light-grey);
}

.skills__range-value {
  background-color: var(--color-yellow);
  height: 8px;
  transition: all var(--animation-duration) ease-out;
}

/* Project, Carousel*/

.carousel {
  width: var(--carousel-width);
  height: var(--carousel-height);
  background-color: var(--color-light-white);

  box-sizing: unset;
  display: inline-block;
  overflow: hidden;

  margin: 20px 20px 10px 20px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel__imgContainer {
  position: relative;
  width: calc(var(--carousel-width) * var(--carousel-item-count));
  display: flex;
  transition: all var(--animation-duration) ease-out;

  transform: translateX(calc(-1 * (var(--carousel-width) * 0)));
}

.carousel__items {
  position: relative;
  width: var(--carousel-width);
  height: var(--carousel-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel__img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid var(--color-light-grey);
}

.carousel__contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.ToDoList .carousel__img,
.ShoppingMall .carousel__img {
  max-height: 100%;
  height: var(--carousel-height);
}

.Youtube,
.pogoClone,
.boostCourse {
  flex-direction: column;
}

.project__github {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 7px;
  font-size: var(--font-large);
  color: var(--color-dark-grey);
}

.carousel__btn-container {
  display: flex;
  justify-content: center;
}

.carousel__btn {
  background-color: var(--color-dark-grey);
  margin: 5px;
  width: 30px;
  height: 4px;
}

.carousel__btn:hover {
  background-color: var(--color-light-grey);
}

/* Contact */

#contact {
  background-color: var(--color-light-purple);
}

.contact__title,
.contact__email,
.contact__container {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__container {
  display: flex;
  justify-content: center;
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__gmail,
.contact__github {
  margin: 0 30px;
}

.contact__container i {
  transition: all var(--animation-duration) ease;
}

.contact__container i:hover {
  transform: scale(1.1);
}
/* 

  arrow up Btn
 */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: var(--color-light-purple);
  font-size: var(--font-medium);
  color: var(--color-white);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    --carousel-width: 100%;
    --carousel-height: calc((var(--carousel-width) / 4) * 3);
    --carousel-image-height: 300px;
  }

  /* Navbar */
  .navbar__toggle-btn {
    color: var(--color-light-white);
    font-size: var(--font-medium);
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  /* About */

  #about {
    flex-direction: column;
  }

  .about__title {
    max-width: 300px;
  }

  .about__container {
    margin: 0;
    text-align: center;
  }

  .about__context {
    text-indent: unset;
  }

  /* carousel */

  .carousel {
    height: auto;
    overflow: unset;
    background-color: transparent;
    margin: 0;
  }

  .carousel__imgContainer {
    flex-direction: column;
    width: auto;
    height: auto;
  }

  .carousel__items {
    border-radius: calc(var(--size-border-radius) * 2);
    margin: 20px 0 0 0;
    background-color: var(--color-light-white);
  }

  .carousel__img {
    border-radius: var(--size-border-radius);
    border: none;
  }

  .project__github {
    font-size: var(--font-regular);
  }

  .ToDoList .carousel__img,
  .ShoppingMall .carousel__img {
    height: var(--carousel-image-height);
  }
  .carousel__btn-container {
    display: none;
  }

  .arrow-up {
    bottom: 20px;
    right: 10px;
    font-size: var(--font-regular);
    width: 30px;
    height: 30px;
  }
}
